p {
  font-family: Lato;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin-top: 10px;
  }
  label {
    width: 100px;
  }
  .values {
    margin-top: 20px;
  }
}
